@font-face {
    font-family: JetBrainsMono Regular;
    src: url(fonts/JetBrainsMono-Regular.ttf);
}

body {
    font-family: JetBrainsMono Regular, sans-serif;
    font-size: 20px;
}

table {
    display: flex;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.input-table {
    display: flex;
    justify-content: space-between;
    font-family: JetBrainsMono Regular, sans-serif;
    font-size: 20px;
    text-align: center;
    border: 0px;
    background-color: transparent;
}

.sidebar {
    display: grid;
    margin: 30px;
}

.drawer {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

#canvas {
    display: flex;
    justify-content: space-between;
}